<hr>
<div class="p-5">
  <h3>Skeleton as an Attribute</h3>
  <p>Dynamically replaces the component with Skeleton Loading. Reduces the amount of dummy layout code.</p>
  <button (click)="toggleLoading()" class="btn btn-dark" style="margin-bottom: 10px">Toggle Loading</button>
  <div class="mt-2">
    <app-picture-cards
      imgUrl="https://www.w3schools.com/w3images/avatar2.png"
      name="Dinesh Srini"
      title="Engineering Manager"
      [loading]="loading"></app-picture-cards>
  </div>
</div>
