version: 2.1

docker_defaults: &docker_defaults
  docker:
    - image: cimg/node:20.10.0-browsers
      environment:
        NG_CLI_ANALYTICS: false

  working_directory: ~/project/repo

attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/project

install_steps: &install_steps
  steps:
    - checkout
    - restore_cache:
        name: Restore node_modules cache
        keys:
          - dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          - dependency-cache-{{ .Branch }}-
          - dependency-cache-
    - run:
        name: Installing Dependencies
        command: |
          npm install --silent
    - save_cache:
        name: Save node_modules cache
        key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
        paths:
          - node_modules/
    - persist_to_workspace:
        root: ~/project
        paths:
          - repo

workflows:
  version: 2
  build_pipeline:
    jobs:
      - build
      - unit_test:
          requires:
            - build
      - bundle_size:
          requires:
            - build
      - build_ssr:
          requires:
            - build
      # - end_to_end:
      #     requires:
      #         - build
orbs:
  browser-tools: circleci/browser-tools@1.4.6
jobs:
  build:
    <<: *docker_defaults
    <<: *install_steps
  unit_test:
    <<: *docker_defaults
    steps:
      - *attach_workspace
      - browser-tools/install-chrome
      - run:
          name: Running unit tests
          command: |
            npm run lint
            npm test
          environment:
            CHROME_BIN: /usr/bin/google-chrome
  # To be added back in later
  # sudo npm run coveralls
  build_ssr:
    <<: *docker_defaults
    steps:
      - *attach_workspace
      - run:
          name: Building for Angular Universal
          command: |
            npm rebuild
            npm run build:ssr
  bundle_size:
    <<: *docker_defaults
    steps:
      - *attach_workspace
      - run:
          name: Checking bundle size
          command: |
            npm rebuild
            npm run build:pkg
            npm run bundlesize
  # end_to_end:
  #     <<: *docker_defaults
  #     steps:
  #         - *attach_workspace
  #         - run:
  #             name: Running E2E tests
  #             command: |
  #               sudo npm run e2e
