<a href="https://github.com/willmendesneto/ngx-feature-toggle">
  <h1>ngx-feature-toggle</h1>
</a>

{{ featureToggleData | json }}
<ngx-feature-toggle-provider [features]="featureToggleData">
  <div *ngxFeatureToggle="'enableSecondText'">
    <p>condition is true and "featureToggle" is enabled.</p>
  </div>
  <div *ngxFeatureToggle="'enableFirstText'">
    <p>condition is false and "featureToggle" is disabled. In that case this content should not be rendered.</p>
  </div>
  <div *ngxFeatureToggle="'!enableFirstText'">
    <p>
      condition is false and "featureToggle" is disabled
      <b>but it has "!" as a prefix of the feature toggle to be checked.</b> In that case this content should be
      rendered.
    </p>
  </div>

  <div *ngxFeatureToggle="['enableSecondText', '!enableFirstText']">
    <p>
      This is a combined condition. It shows if <b>enableSecondText</b> is true and <b>enableFirstText</b> is
      <b>falsy</b>. If both cases are correct, then the "featureToggle" is enabled and rendering this component.
    </p>
  </div>

  <div *ngxFeatureToggle="'enableFirstText'">
    <ngx-app-hello name="Oops"></ngx-app-hello>
  </div>
</ngx-feature-toggle-provider>
